#tw-news {font-size: 0.75em !important;}

.nav-footer .ui-btn-text {font-size: 0.75em !important;}

.nav-footer .ui-btn .ui-btn-inner { padding-top: 40px !important; }

.nav-footer .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }

#news .ui-icon { background:  url(../system/icons/news.png) 50% 50% no-repeat; background-size: 28px 28px; }

#charts .ui-icon { background:  url(../system/icons/charts.png) 50% 50% no-repeat; background-size: 30px 24px; }

#youtube .ui-icon { background:  url(../system/icons/youtube.png) 50% 50% no-repeat; background-size: 28px 28px; }

#online .ui-icon { background:  url(../system/icons/online.png) 50% 50% no-repeat; background-size: 30px 28px; }

#calendar .ui-icon { background:  url(../system/icons/calendar.png) 50% 50% no-repeat; background-size: 24px 30px; }

.progressbar
{
	position: relative;
	height: 24px;
	border: 1px solid #494949;
	background: #444;

	border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

	box-shadow: 0px 1px 3px #222;
	-o-box-shadow: 0px 1px 3px #222;
	-moz-box-shadow: 0px 1px 3px #222;
	-webkit-box-shadow: 0px 1px 3px #222;
}

.progressbar div
{
	width: 0%; /*������� ������� ���������*/
	height: 100%;
	background-color: #369;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #37a), color-stop(1, #369));
	overflow: hidden;

	margin: -1px;
	border: 1px solid #37c;

	border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.progressbar span
{
	display: block; width: 100%;
	text-align: center;
	font-size: 13px; font-family: Tahoma, Arial; font-weight: bold;
	color: #eee;
	text-shadow: 0px 1px 0px #333;
	position: absolute; top: 0;
	line-height: 24px;
}

table.maintable {
	width: 100%;
}

/* Flicking fix on jqm */
.ui-page {
    -webkit-backface-visibility: hidden;
}