#tw-news {font-size: 0.7em !important;}

.nav-footer .ui-btn-text {font-size: 0.75em !important;}

.nav-footer .ui-btn .ui-btn-inner { padding-top: 40px !important; }

.nav-footer .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }

#news .ui-icon { background:  url(../system/icons/news.png) 50% 50% no-repeat; background-size: 28px 28px; }

#charts .ui-icon { background:  url(../system/icons/charts.png) 50% 50% no-repeat; background-size: 30px 24px; }

#youtube .ui-icon { background:  url(../system/icons/youtube.png) 50% 50% no-repeat; background-size: 28px 28px; }

#online .ui-icon { background:  url(../system/icons/online.png) 50% 50% no-repeat; background-size: 30px 28px; }

#calendar .ui-icon { background:  url(../system/icons/calendar.png) 50% 50% no-repeat; background-size: 24px 30px; }

table.maintable {
	width: 100%;
}

/* Flicking fix on jqm */
.ui-page {
    -webkit-backface-visibility: hidden !important;
}